<div class="bg-sauce-blue p-10 text-white">
    <div class="grid grid-cols-2 gap-x-7">
        <img src="/images/sorbet-hero.jpeg">
        <div class="space-y-5">
            <div class="text-4xl">WE KNOW BEARDS</div>
            <div class="list-none">
                <li>Beard Clipper + Shape: R120</li>
                <li>Beard Clipper + Shape + Hairline Cleanup: R200</li>
                <li>Beard Razor + Shape: R200</li>
                <li>Beard Razor + Shape + Hairline Cleanup: R260</li>
                <li>Ingrown Hair Treatments: R550</li>
            </div>
            <p>Plus, enjoy our range of Beard Care products from Sorbet MAN, American Crew, Jack Black, MVRCK, The Bluebeards Revenge and Hairy Eye Beard Care.</p>
            <p>Offer available while stocks last</p>
        </div>
    </div>
</div>